/*----------------------------
  GBIS: About
-----------------------------*/

/*---------- About: GBIS ----------*/
.page-template-about-gbis {

  //Override the default style in pushing the content just below the sticky header
  .site-content{
    padding-top: 8rem;
  }

  .about-gbis-content{
    padding: 2rem 1rem 1rem 1rem;
  }
}

.hashtag-wrapper{
  display:flex;
  justify-content: center;
  margin: 1rem;
}

.gbis-hashtag{
  width: 290px;
  height: 32px;
}

.about-gbis-container {
  text-align: left;
  line-height: 2;
  display: flex;

  p{
    font-size: 22px;
  }
}

.about-gbis-icon{
  align-self: flex-start;
  width: 80px;
  height: 80px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}


/*---------- About: Genicca Global Group ----------*/
.page-template-about-genicca {
  //Override the default style in pushing the content just below the sticky header
  .site-content{
    padding: 7.5rem 1rem 1rem 1rem;
  }

#post-34{
  margin-bottom: 0;
}

  //Centers the entry title
  .entry-header{
    margin: 0 auto;
  }

  .entry-title {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .entry-content {
    width: 90%;
    margin: 0 auto;
    line-height: 2;
    font-family: 'SourceSansPro-Regular', sans-serif;
  }
}

.logo-wrapper{

   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

  img{
    width: 580px;
    height: 142px;
  }

  .profile-photo {
    align-self: center;
    width: 180px;
    height: 190px;
    margin: 30px 10px;
  }
}




/*---------- About: Free To Be Talks ----------*/
.freetobe-container{
  padding: 3rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freetobe-content{

  p{
    line-height: 2;
    font-size: 20px;
  }
}

.freetobe-image{
  max-width: 256px;
  min-width: 92px;
}

.our-vision{
  padding: 1rem 2rem 1rem 2rem;
  font-size: 20px;
  line-height: 2;
  ul{
    margin-left: 0;
  }
}

.vision-title{
  font-size: 38px;
  font-family:'Montserrat Regular', sans-serif;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.freetobe-girls, .freetobe-kids{
  height: auto;
  width: 100%;

}


/***********************************************************/
/*/-----*****-----****** Media Query ******-----*****-----/*/
/***********************************************************/

//tablet
@media screen and (min-width: 768px){


  //about gbis
  .page-template-about-gbis {

    .site-content{
      padding-top: 10rem;
    }

  .about-gbis-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-gbis-container{
    display: flex;
    flex-direction: column;

    p{
      font-size: 24px;
      text-align: center;
    }
  }
  .about-gbis-icon{
    align-self: center;
  }

  .gbis-hashtag{
    width: 700px;
    height: 68px;
   }
  }


//about Genicca
.page-template-about-genicca {

  .entry-title{
    font-size: 48px;
  }

  .about-genicca{
    font-size: 24px;
  }

  .logo-wrapper{

    img{
      width: 628px;
      height: 191px;
    }

  .profile-photo{
    width: 288px;
    height: 288px;
  }
 }
}


//about free-to-be-talks



}
