/*----------------------------
  GBIS: About
-----------------------------*/

/*---------- About: GBIS ----------*/
.page-template-about-gbis {
  //Hide default text title
  .entry-title {
    display: none;
  }

  //Override the default style in pushing the content just below the sticky header
  .site-content{
    padding-top: 150px;
  }
}

.about-gbis-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  p {
    width: 80%;
    display: inline-block;
    line-height: 2;
  }
}

.about-gbis-icon {
  width: 80px;
  margin-right: 5%;
  border: 1px solid #000;
  background-color: linen;
  img {
    width: 100px;
    height: auto;
  }
}

/*---------- About: Genicca Global Group ----------*/
.page-template-about-genicca {
  //Override the default style in pushing the content just below the sticky header
  .site-content{
    padding-top: 120px;
  }

  //Centers the entry title
  .entry-header{
    margin: 0 auto;
  }

  .entry-title {
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .entry-content {
    width: 80%;
    margin: 0 auto;
    line-height: 2;
  }
}

.profile-photo {
  width: 200px;
  height: auto;
  margin: 40px auto 20px;
  display: block;
}



/*--*--*--*--*--*--*--*--*--*--*--* Free To Be Talks *--*--*--*--*--*--*--*--*--*--*--*/

.freetobe-container{
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freetobe-image{
  max-width: 256px;
  min-width: 92px;
}

.our-vision{
  padding: 0 2rem 0 2rem;
}

.vision-title{
  text-align: center;
  text-transform: uppercase;
}

.freetobe-girls, .freetobe-kids{
  margin-top: 1rem;
}

@media screen and (min-width: 1240px) {


}
