/*----------------------------
  GBIS: About
-----------------------------*/

/*---------- About: GBIS ----------*/
.page-template-about-gbis {
  //Hide default text title
  .entry-title {
    display: none;
  }

  //Override the default style in pushing the content just below the sticky header
  .site-content{
    padding-top: 150px;
  }
}

.about-gbis-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  p {
    width: 80%;
    display: inline-block;
    line-height: 2;
  }
}

.about-gbis-icon {
  width: 80px;
  margin-right: 5%;
  border: 1px solid #000;
  background-color: linen;
  img {
    width: 100px;
    height: auto;
  }
}

/*--*--*--*--*--*--*--*--*--*--*--* Genicca Global Group *--*--*--*--*--*--*--*--*--*--*--*/




/*--*--*--*--*--*--*--*--*--*--*--* Free To Be Talks *--*--*--*--*--*--*--*--*--*--*--*/

.freetobe-container{
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freetobe-image{
  max-width: 256px;
  min-width: 92px;
}

.our-vision{
  padding: 0 2rem 0 2rem;
}

.vision-title{
  text-align: center;
  text-transform: uppercase;
}

.freetobe-girls, .freetobe-kids{
  margin-top: 1rem;
}

@media screen and (min-width: 1240px) {


}
