/*----------------------------
  GBIS: Events
-----------------------------*/

/*---------- Dare To Dream Soiree ----------*/

.single-events{
  font-family: 'SourceSansPro-Regular';
  h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 0;
    font-size: 26px;
    @media screen and (min-width: 768px){
      margin-top: 3rem;
      font-size: 34px;
    }
  }

    .event-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem 1rem 1rem 1rem;
      .event-header-txt{
        text-align: center;
        font-size: 16px;
        font-family: $font-bold;
        text-transform: uppercase;
        @media screen and (min-width: 768px){
          font-size: 24px;
        }
      }
      img{
        align-self: center;
        padding: 1rem 1rem 1rem 2rem;
        @media screen and (min-width: 768px){
          padding: 2rem 2rem 2rem 4rem;
        }
      }
    }

    .event-main-content{
      width: 80%;
      margin: 0 auto;
      padding: 0 1rem;
      line-height: 2;
      @media screen and (min-width: 768px){
        text-align: center;
      }
    }

    .button-container{
      margin: 0 1rem 1rem 1rem;
      display: flex;
      justify-content: center;
      .color-button{
        @include color-button;
      }
  }
  .event-info{
    font-size: 16px;
    line-height: 1.5;
    padding: 1rem;
    margin: 1.5rem 0 2rem 0;
    background-color: $accent_color;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px){
      font-size: 24px;
    }
    .event-date{
      text-transform: uppercase;
      font-family: $font-bold;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      margin-right: 1rem;
      @media screen and (min-width: 768px){
        margin: 1rem 3rem;
      }
      .event-week{
        text-align: center;
        padding: .1rem 1.5rem;
        letter-spacing: 2px;
        font-size: 18px;
      }
      .event-month, .event-day, .event-year{
        text-align: center;
        padding: 0.1rem 1.5rem;
        font-size: 20px;
        letter-spacing: 2px;
      }
      .style-line{
        border-bottom: 2px solid $color_button;
      }
    }
    .event-location{
      display: flex;
      flex-direction: column;
      align-self: center;
      @media screen and (min-width: 768px){
        margin: 1rem 3rem;
      }
      .event-place{
        font-family: $font-bold;
      }
    }
  }

  .event-description{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 0 1rem 2rem 1rem;
    line-height: 2;
  }

  .talks-button{
    @include black-border-button;
  }

  .event-ticket-wrapper{
    margin-top: 2rem;

    p{
      text-align: center;
    }
    .event-tickets{
      display: flex;
      padding: 1rem;
      border-bottom: 1px solid #969696;

      .cfs-hyperlink{
      background-color: $color_button;
      color: #fff;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      &:visited,
      &:focus {
        color: #fff;
      }
      &:hover {
        border: 1px solid $color_button;
        color: $color_button;
        background-color: transparent;
      }
      }
    }
    .tickets{
      padding-bottom: 1rem;
      border-bottom: 1px solid #969696;
    }
    .ticket-price{
      font-family: 'SourceSansPro-Bold';
      font-size: 24px;
      padding: .5rem;
      display: flex;
    }
    .ticket-type{
      font-size: 16px;
      padding: 1rem;
    }
    .ticket-link{
      display: none;
      @media screen and (min-width: 768px){
      display: flex;
      position: absolute;
      right: 0;
      margin-right: 1rem;
      }
    }
    .ticket-button{
      @include color-button;
      @media screen and (min-width: 768px){
        display: none;
      }
    }
}
.event-schedule-wrapper{
  background-color: $accent_color;
  color: #fff;
  font-size: 16px;
  padding: .5rem 3rem;
  margin-top: 2rem;
  @media screen and (min-width: 768px){
    font-size: 24px;
    padding: .5rem 6rem;
  }

  .schedule{
    border-bottom: 1px solid #fff;
    padding: 1rem;
    .event-time{
      margin-right: 1rem;
      @media screen and (min-width: 768px){
        margin-right: 5rem;
      }
    }
  }
}
.buttons-container{
  background-color: $accent_color;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.block-button{
  @include color-button;
}

.featured-sponsor-wrapper{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;

  p > a> img {
    margin-bottom: 1rem;
    @media screen and (min-width: 768px){
      margin-right: 1.2rem;
      margin-left: 1.2rem;
      margin-bottom: 3rem;
    }
  }
  h2{
    font-size: 24px;
    @media screen and (min-width: 768px){
      font-size: 28px;
    }
  }
}

.sponsor-registration{
  padding-right: 1rem;
  padding-left: 1rem;

  .registration-content{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
    @media screen and (min-width: 768px){
     text-align: center;
    }
  }

  .download-files{
    display: flex;
    flex-direction: column;
    align-items: center;

    .sponsorship-link{
      @include color-border-button;
      font-size: 10px;
      @media screen and (min-width: 768px){
        font-size: 12px;
      }
    }

    .apply-sponsor{
      @include black-border-button;
      font-size: 10px;
      @media screen and (min-width: 768px){
        font-size: 12px;
      }
    }
  }
}

.follow-event{
  margin-top: 2rem;

  .follow-icons{

    display: flex;
    justify-content: center;

    a{
      color: #000;
      font-size: 60px;
      margin: .5rem;
      text-decoration: none;
      margin: 1rem;

      &:visited{
        color: #000;
      }
      &:hover,
      &:focus,
      &:active {
        color: $accent_color;
      }
    }
  }
 }
 .contacts-form{
   margin: 0 auto;
   @media screen and (min-width: 768px){
     width: 80%;
   }
   .contacts-icon {
     width: 20px;
     height: auto;
     margin-right: .5rem;
   }
   .cfs-hyperlink {
     color: #000;
     text-decoration: none;
     cursor: pointer;
   }
 }

}

/*---------- 4th Annual Vision Board Party 2017 ----------*/

.annual-vision-board{
    padding-top: 2rem;

  .vision-header{
    width: 80%;
    margin: 0 auto;
  }
  .vision-video{
    display: flex;
    justify-content: center;
  }
}

.event-icons{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  @media screen and (min-width: 768px){
   display: flex;
   flex-wrap: wrap;
  }

  .icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px){
     width: 40%;
     margin: 0 auto;
    }
      .vision-icons{
        width: 200px;
        height: 200px;
        margin-bottom: .5rem;
      }
      .vision-icon-contents{
        margin-bottom: 2rem;
    }
  }
}

.extra-content{
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

// .external-button{
//
//   margin: 20px;
//
//   .cfs-hyperlink{
//     text-decoration: none;
//     text-transform: uppercase;
//     letter-spacing: 3px;
//     font-size: 1rem;
//     color: #fff;
//     font-family: $font_accent;
//     padding: 20px 40px;
//     margin: 10px;
//     background-color: $color_button;
//     border: 1px solid $color_button;
//
//     &:visited,
//     &:focus {
//       color: #fff;
//     }
//     &:hover {
//     }
//     @media screen and (min-width: 768px){
//
//     }
//   }
// }

/*---------- Taxonomy Event Hisory Pages ----------*/

.event-info-container{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  margin: 0 auto;

  .event-tax-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
} // event-info-container

.event-info-wrapper{

  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
  }

  p{
    margin: 0;
    text-align: center;
    @media screen and (min-width: 768px){
      text-align: left;
    }
  }

  .event-info{
    font-size: 16px;
    line-height: 1.5;
    padding: 1rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px){
      font-size: 24px;
      flex: 1;
    }

    .event-date{
      border: 2px solid #000;
      text-transform: uppercase;
      font-family: $font-bold;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      margin-left: .5rem;
      margin-right: .5rem;

      .event-week{
        text-align: center;
        padding: .1rem 1.5rem;
        letter-spacing: 2px;
        font-size: 18px;
      }
      .event-month, .event-day, .event-year{
        text-align: center;
        padding: 0.1rem 1.5rem;
        font-size: 20px;
        letter-spacing: 2px;
      }
      .style-line{
        border-bottom: 2px solid $color_button;
      }
    } // event-date
  } // event-info

  .event-info-right{

    @media screen and (min-width: 768px){
      display: flex;
      flex: 2;
      justify-content: space-between;
    }
    .event-right-content{

      @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        align-self: center;
        line-height: 2;
      }
    }

    .event-location{
      display: flex;
      flex-direction: column;
      text-align: center;
      @media screen and (min-width: 768px){
       text-align: left;
      }
    }

<<<<<<< HEAD
      .external-link{
        display: flex;
        justify-content: center;
=======
    .button-container{
      display: flex;
      justify-content: center;
>>>>>>> 86f1a3f6e7cbf2afc90595350d3d79da3b6d6988

      @media screen and (min-width: 768px){
       display: flex;
       align-items: center;
      }

<<<<<<< HEAD
        .cfs-hyperlink{
          display: inline-block;
          width: 100% auto;
          min-width: 180px;
          height: auto;
          margin: 20px 20px;
          padding: 20px 20px;
=======
      .tax-button{
        display: inline-block;
        width: 100% auto;
        min-width: 180px;
        height: auto;
        margin: 20px 20px;
        padding: 20px 20px;
        color: #fff;
        font-size: 1.1rem;
        font-family: $font_accent;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        background-color: $color_button;
        border: 1px solid transparent;
        &:visited,
        &:focus {
>>>>>>> 86f1a3f6e7cbf2afc90595350d3d79da3b6d6988
          color: #fff;
        }
        &:hover {
          border: 1px solid $color_button;
          color: $color_button;
          background-color: transparent;
        }
      }
    }
  }
} // event-info-wrapper
