/*----------------------------
  GBIS: Events
-----------------------------*/

/*---------- Dare To Dream Soiree ----------*/

.single-events{
  font-family: 'SourceSansPro-Regular';

    .event-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem 1rem 1rem 1rem;
      h1{
        text-align: center;
        font-size: 16px;
        font-family: $font-bold;
        text-transform: uppercase;
        @media screen and (min-width: 768px){
          font-size: 24px;
        }
      }
      img{
        align-self: center;
        padding: 1rem 1rem 1rem 2rem;
        @media screen and (min-width: 768px){
          padding: 2rem 2rem 2rem 4rem;
        }
      }
    }

    .event-content{
      padding: 0 1rem;
      p{
        line-height: 2;
      }
    }
    .button-container{
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      .color-button{
        @include color-button;
      }
  }
  .event-info{
    font-size: 16px;
    line-height: 1.5;
    padding: 1rem;
    margin: 1.5rem 0 2rem 0;
    background-color: $accent_color;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px){
      font-size: 24px;
    }
    .event-date{
      text-transform: uppercase;
      font-family: $font-bold;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      margin-right: 1rem;
      .event-week{
        text-align: center;
        padding: .1rem 1.5rem;
        letter-spacing: 2px;
      }
      .event-month, .event-day, .event-year{
        text-align: center;
        padding: 0.1rem 1.5rem;
        font-size: 20px;
        letter-spacing: 2px;
      }
      .style-line{
        border-bottom: 2px solid $color_button;
      }
    }
    .event-location{
      display: flex;
      flex-direction: column;
      align-self: center;
      .event-place{
        font-family: $font-bold;
      }
    }
  }

  .event-description{
    line-height: 1.5;
  }







}
