/*----------------------------
  GBIS: Footer
-----------------------------*/

.site-footer{
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.social-networks a{

    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    margin: .7rem;

  &:visited{
    color: #fff;
  }
  &:hover,
  &:focus,
  &:active {
  	color: $accent_color;
  }
}

.social-networks p{
  font-family: SourceSansPro-Bold, HelveticaNeue, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.top-button{
  height: 3rem;
  width: 3rem;
}
