/*----------------------------
  GBIS: Footer
-----------------------------*/

.site-footer{
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.social-networks a{

    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    margin: .7rem;

  &:visited{
    color: #fff;
  }
  &:hover,
  &:focus,
  &:active {
  	color: $accent_color;
  }
}

.social-networks p{
  font-family: SourceSansPro-Bold, HelveticaNeue, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

#smoothup {
height: 40px;
width: 40px;
position:fixed;
bottom:50px;
right:100px;
text-indent:-9999px;
display:none;
background: url('../../assets/images/icons/go-top-button.png');
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s; transition-duration: 0.4s;
}

#smoothup:hover {
-webkit-transform: rotate(360deg);
// background: url('') no-repeat;
}
