/*----------------------------
  GBIS: Front Page
-----------------------------*/

.home {

  .entry-header {
    margin: auto;
  }

  .entry-title {
    display: none;
  }

  .entry-content {
    text-align: center;
    line-height: 2;
  }
}

.hero {
  width: 100%;
  min-height: 240px;
  padding: 10px 0;
  font-size: 1.3rem;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: url('../../assets/images/hero-background.png') no-repeat;
  background-size: cover;
  img {
    width: 150px;
    height: auto;
  }
}

.logo {
  margin: 20px auto;
  text-align: center;
  img {
    width: 80%;
    height: auto;
  }
}

.learn-more {
  @include button;
  background-color: #000;
  border: 1px solid #000;
  &:visited,
  &:focus {
    color: #fff;
  }
  &:hover {
    color: #000;
    background-color: #fff;
  }
}
