/*----------------------------
  GBIS: Front Page
-----------------------------*/

.home {

  .entry-header {
    margin: auto;
  }

  .entry-title {
    display: none;
  }

  .entry-content {
    text-align: center;
    line-height: 2;
    @include desktop {
      p:first-child { //the introductory text only
        width: 58%;
        margin: 0 auto;
      }
    }
  }

  //Places labels of forms to the left
  #wpcf7-f71-p24-o1 {
    text-align: left;
  }
}

.hero {
  width: 100%;
  height: 340px;
  padding: 10px 0;
  font-size: 1.3rem;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: url('../../assets/images/hero-background.png') no-repeat;
  background-size: cover;
  position: relative;

  img { //the 'sexy' image
    width: 150px;
    height: auto;
    @include desktop {
      width: 250px;
      align-self: center;
      position: absolute;
      top: 130px;
      left: 630px;
    }
  }
  @include desktop {
    width: auto;
    height: 517px; //came from the original height of the background image
    padding: 70px 200px;
    font-size: 2rem;
    background-position: center;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      position: absolute;
      top: 100px;
      left: 300px;
    }
    p:last-child {
      display: block;
      position: absolute;
      top: 160px;
    }
  }
}

.logo {
  margin: 20px auto;
  text-align: center;
  img {
    width: 80%;
    height: auto;
    @include desktop {
      width: 45%;
      margin-bottom: 22px;
    }
  }
}

.learn-more {
  @include button;
  width: 250px;
  background-color: transparent;
  border: 2px solid $color_button;
  color: #000;
  &:visited,
  &:focus {
    color: #000;
  }
  &:hover {
    color: #000;
    background-color: $color_button;
  }
  @include desktop {
    position: absolute;
    top: 350px;
    left: 300px;
  }
}
