/*----------------------------
  GBIS: Header
-----------------------------*/

///Hide default styles
.site-description {
  display: none;
}

.site-header {
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  margin: 0px auto;
  background-color: #000;
  position: fixed;
  z-index: 1600;
}

.site-title {
  width: auto;
  display: inline-block;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  a, a:visited, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

/*---------- Navigation ----------*/

//Menu button on mobile view
.menu-toggle,
.menu-toggle:focus,
.menu-toggle:hover {
  width: auto;
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

/*---Hamburger CSS Functionality--- */
.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  margin: 7px 0;
  background-color: #7d7d7d;
  transition: 0.4s;
}

.bar2 {
  width: 20px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-10px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-9px, -8px) ;
}
/*---END Hamburger CSS Functionality--- */


.main-navigation {
  width: 70px;
  height: 100vh; //helps transition of site-title when closing the toggled hamburger
  padding-top: 20px;
  margin-right: 10px;
  // transition: all 0.8s;
  li {
    @extend .focus; //displays the sub-menus
  }
}

.main-navigation.toggled,
.site-branding p {
  padding-top: 20px;
}

//Indent everything, including the hamburger menu and site title,
//whether toggled or not
.main-navigation,
.main-navigation.toggled {
  padding-left: 20px;
}

//Indent the links of the toggled menu further to the right
.menu-primary-container {
  width: 100vw;
  margin-left: 25px;
}

//Display links including sub-menu
.main-navigation ul ul {
  width: 100%;
  height: auto;
  margin-bottom: 15%;
  box-shadow: none;
  position: relative;
  li {
    width: 100%;
    margin: 10px 0 10px 30px;
  }
}

//Override default Underscores styling
//This is to prevent long link names from occupying another line.
.main-navigation ul ul a {
	width: auto;
}

//Styling of menu item links
.menu a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

//Cover the whole page in pink gradient
.main-navigation.toggled {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: linear-gradient(153deg, #fff, #ff3ea5, #ff3ea5);
  // transition: all 0.8s;
}
