/*----------------------------
  GBIS: Mixins
-----------------------------*/

/*---------- Media Queries ----------*/

@mixin tablet {
  @media (min-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint_desktop) {
    @content;
  }
}


@mixin button {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 20px 0;
  color: #fff;
  font-size: 1.1rem;
  font-family: $font_accent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}
