/*----------------------------
  GBIS: Page Templates
  These are shared default styles across pages of the site.
  For page-exclusive styles, refer to their respective stylesheets.
-----------------------------*/

//When admin is logged in, this prevents sticky header from going bonkers.
#wpadminbar {
  position: fixed;
}

//Base size for rem values
html {
  font-size: 16px;
}

body {
  font-family: $font_default;
}

.container {
  width: 90%;
  margin: 0 auto;
}

//Pushes the content at the bottom of the sticky header across all pages
.site-content{
  padding-top: 84px;
}

.entry-header {
  margin: 60px 0 20px;
}

.entry-title {
  font-size: 1.9rem;
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
