/*----------------------------
  GBIS: Variables
-----------------------------*/

/*---------- Fonts ----------*/
$font_default: 'Source Sans Pro', sans-serif;
$font_accent: 'Montserrat Regular', sans-serif;

/*---------- Colors ----------*/
$accent_color: #FF3EA5;
$button_color: #EBCB80;
$outline_color: #D9B546;
