/*----------------------------
  GBIS: Variables
-----------------------------*/

/*---------- Breakpoints ----------*/
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1240px;

/*---------- Fonts ----------*/
$font_default: 'SourceSansPro-Regular', sans-serif;
$font-bold: "SourceSansPro-Bold", sans-serif;
$font_accent: 'Montserrat Regular', sans-serif;

/*---------- Colors ----------*/
$accent_color: #FF3EA5;
$color_button: #EBCB80;
$outline_color: #D9B546;
